.Bar {
    /* max-width: 360px; */
    background-color: @bg;
    min-width: 360px;
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px 1px 0px 0px rgba(204, 204, 204, 0.50) inset;
    color: @text;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;
    -gtk-icon-shadow: none;
}

.BarLabel {
    font-style: normal;
    font-weight: 400;
}

.BarCenterBox {
    padding: 3px 4px;
}


.BarLeftBox {
    padding: 0 6px;
}

.PrimaryButton {
    font-size: 12px;
    padding: 0;
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.20) inset, 2px 0px 0px 0px rgba(255, 255, 255, 0.20) inset, -2px 0px 0px 0px rgba(255, 255, 255, 0.20) inset, 0px -1px 0px 1px #000 inset, 0px 1px 0px 0px #000 inset;
    color: #fff;
    background-color: #303030;
    min-width: 28px;
    background-image: none;
    text-shadow: none;
    border-radius: 8px;
    -icon-shadow: none;
}

.ActionButton {
    padding: 0 2px;
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset, -1px 0px 0px 0px #E3E3E3 inset, 1px 0px 0px 0px #E3E3E3 inset, 0px 1px 0px 0px #E3E3E3 inset;
    background-color: #E3E3E3;
    min-height: 20px;
    background-image: none;
    color: #4A4A4A;
    border-radius: 8px;
}

.ActionButton:active {
    box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.20) inset, 1px 0px 1px 0px rgba(0, 0, 0, 0.20) inset, 0px 2px 0px 0px rgba(0, 0, 0, 0.60) inset;
}

image {
    -gtk-icon-shadow: none;
    color: @icon;
}


.PrimaryButton:active {
    box-shadow: 0px 3px 0px 0px #000 inset;
}

.PrimaryButton image {
    color: #fff;
}
